// Colors
$primary: #03283C;
$secondary: grey;
$warning :#FF6200;
$white: white;
$dark: black;

// Breakpoints
$breakpoint999: 999 + px;
$breakpoint768: 768 + px;
$breakpoint480: 480 + px;

// Burger
$burgerColor: black;
$burgerActiveColor:white;

//buttons
// $btnSecondary: #FF6200;
 