<div class="section_benefits">
  
    <div class="container">
        <!-- <div class="what_title"> -->
            <h3 class="benefits_title">Benefits of Investing with Atlas One</h3>
            <h4 class="benefits_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, imperdiet mauris nunc viverra ultrices. Donec</h4>
       
        <div class="benefits_body">
            <!-- benefits content1 -->
            <div class="benefits_content">
                <img class="benefits_img" src="./assets/images/benefits_img1.png" alt="">
                <h5>Enhanced ccwdsc</h5>
                <p>Better accessibility and management as issuers/ investors can track their offerings/trades.</p>
            </div>
            <!-- benefits content2 -->
            <div class="benefits_content">
                <img class="benefits_img" src="./assets/images/benefits_img2.png" alt="">
                <h5>Enhanced ccwdsc</h5>
                <p>Better accessibility and management as issuers/ investors can track their offerings/trades.</p>
            </div>
            <!-- benefits content3 -->
            <div class="benefits_content">
                <img class="benefits_img" src="./assets/images/benefits_img3.png" alt="">
                <h5>Enhanced ccwdsc</h5>
                <p>Better accessibility and management as issuers/ investors can track their offerings/trades.</p>
            </div>
            <!-- benefits content4 -->
            <div class="benefits_content">
                <img class="benefits_img" src="./assets/images/benefits_img4.png" alt="">
                <h5>Enhanced ccwdsc</h5>
                <p>Better accessibility and management as issuers/ investors can track their offerings/trades.</p>
            </div>
           
        </div>
    <!-- </div> -->
</div>
</div>