<section class="section_contacts">
    <div class="container">
       
         <h3 class="contacts_title title_center" >Subscribe to our newsletter</h3>
         <h4 class="contact_subtitle section_subtitle_center">Stay uo to date on the latest news about Atlas One.</h4> 

         <form class="form" >
            <input class="form-input" type="email" placeholder="Email">
            <button type="submit" class="btn btn_secondary">subscribe</button>
         </form>

        <div class="contacts_text">By clicking “Subscribe” you accepting ipsum dolor sit amet, sit ea brute mediocritatem, eu sed aliquam scripserit dissentiunt.</div>
    </div>
 

</section>