<section class="section_who">
    <div class="container">
        <div class="who">
            <img class="who_img" src="./assets/images/who_img.png" alt="">
            <div class="who_item">
            
                <div class="who_text">
                    <h3>Who we are
                       
                    </h3>
                <h4> We are a digital securities company raising financing for private <br> companies, and giving investors greater access to private market<br> opportunities utilizing digital technology..</h4>
            </div>
           
    

            </div>
        </div>
    </div>
</section>