<section class="section_digital">
    <div class="container">
        <div class="digital">
            <img class="digital_img" src="./assets/images/digital_img.png" alt="">
            <div class="ditial_item">
            
                <div class="digital_text">
                    <h3>Why Digital Securities
                       
                    </h3>
                <h4> We are a digital securities company raising financing for private <br> companies, and giving investors greater access to private market<br> opportunities utilizing digital technology..</h4>
                <div class="btn_container">
                    <a class="btn_secondary btn--ditial" href="">read the research</a>
                </div>
                
            </div>
           
    

            </div>
        </div>
    </div>
</section>