<section class="section_hero">
    <div class="hero_wrapper">
        <img class="hero_img" src="../assets/images/hero_bg.png" alt="hero">
        <div class="container">
            <div class="hero">
                <div class="hero_item">
                    <h2 class="hero_subtitle">Innovative Investment Platform</h2>
                    <h1 class="hero_title">Invest and Raise 
                        Capital through 
                        <span>Digital Securities</span> </h1>
                    <div class="hero_btns">
                        <a class="btn btn_primary hero_btn" href="">get started</a>
                        <a class="btn btno_utline " href=""> learn more</a>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
   

</section>