

<section class="section_offers">
 
        <h3 class="section_title section_title_center">Current offers
            </h3>
        <h4 class="section_subtitle section_subtitle_center"> Et has minim elitr intellegat. Mea aeterno eleifend antiopam ad, nam no suscipit quaerendum.</h4>

        <div class="offers">
    <!-- offer_item-1 -->
    <div class="offers_item">
        <div class="offer_img">
            <img src="assets/images/offer1.jpg" alt="img bg">
        </div>
        <div class="offer_body">
            <div class="offer_title">
                <img class="offer_avatar" src="assets/images/brox.png" alt="">
                Brox Equity Ltd
            </div>
            <div class="offer_text">
                High Performance Mortgage Investment Corporation High Performance Mortgage
            </div>    
        </div>  
        
        <a class="offer_btn" href="/">
                <div class="offer_btn-text">
                    Learn More
                </div>
                <div class="offer_btn-img">
                    <img class="offer_arrow" src="assets/images/short_up.svg" alt="img">

                </div>
        </a>

    </div>
     <!-- offer_item-2 -->
    <div class="offers_item">
        <div class="offer_img">
            <img src="assets/images/offer2.png" alt="img bg">
        </div>
        <div class="offer_body">
            <div class="offer_title">
                <img class="offer_avatar" src="./assets/images/brox.png" alt="">
                Brox Equity Ltd
            </div>
            <div class="offer_text">
                High Performance Mortgage Investment Corporation High Performance Mortgage
            </div>
           
        </div>  
        
        <a class="offer_btn" href="">
                <div class="offer_btn-text">
                    Learn More
                </div>
                <div class="offer_btn-img">
                    <img class="offer_arrow" src="./assets/images/short_up.svg" alt="img">

                </div>
        </a>

    </div>
     <!-- offer_item-3 -->
     <div class="offers_item">
        <div class="offer_img">
            <img src="assets/images/offer3.png" alt="img bg">
        </div>
        <div class="offer_body">
            <div class="offer_title">
                <img class="offer_avatar" src="assets/images/brox.png" alt="">
                Brox Equity Ltd
            </div>
            <div class="offer_text">
                High Performance Mortgage Investment Corporation High Performance Mortgage
            </div>
           
        </div>  
        
        <a class="offer_btn" href="">
                <div class="offer_btn-text">
                    Learn More
                </div>
                <div class="offer_btn-img">
                    <img class="offer_arrow" src="assets/images/short_up.svg" alt="img">

                </div>
        </a>

    </div>
       <!-- offer_item-4 -->
    <div class="offers_item">
        <div class="offer_img">
            <img src="assets/images/offer1.jpg" alt="img bg">
        </div>
        <div class="offer_body">
            <div class="offer_title">
                <img class="offer_avatar" src="assets/images/brox.png" alt="">
                Brox Equity Ltd
            </div>
            <div class="offer_text">
                High Performance Mortgage Investment Corporation High Performance Mortgage
            </div>
           
        </div>  
        
        <a class="offer_btn" href="">
                <div class="offer_btn-text">
                    Learn More
                </div>
                <div class="offer_btn-img">
                    <img class="offer_arrow" src="assets/images/short_up.svg" alt="img">

                </div>
        </a>

    </div>
       <!-- offer_item-5 -->
    <div class="offers_item">
        <div class="offer_img">
            <img src="assets/images/offer5.png" alt="img bg">
        </div>
        <div class="offer_body">
            <div class="offer_title">
                <img class="offer_avatar" src="assets/images/brox.png" alt="">
                Brox Equity Ltd
            </div>
            <div class="offer_text">
                High Performance Mortgage Investment Corporation High Performance Mortgage
            </div>
           
        </div>  
        
        <a class="offer_btn" href="">
                <div class="offer_btn-text">
                    Learn More
                </div>
                <div class="offer_btn-img">
                    <img class="offer_arrow" src="assets/images/short_up.svg" alt="img">

                </div>
        </a>

    </div>
       <!-- offer_item-6 -->
    <div class="offers_item">
        <div class="offer_img">
            <img src="assets/images/offer6.png" alt="img bg">
        </div>
        <div class="offer_body">
            <div class="offer_title">
                <img class="offer_avatar" src="assets/images/brox.png" alt="">
                Brox Equity Ltd
            </div>
            <div class="offer_text">
                High Performance Mortgage Investment Corporation High Performance Mortgage
            </div>
           
        </div>  
        
        <a class="offer_btn" href="">
                <div class="offer_btn-text">
                    Learn More
                </div>
                <div class="offer_btn-img">
                    <img class="offer_arrow" src="assets/images/short_up.svg" alt="img">

                </div>
        </a>

    </div>
       <!-- offer_item-7-->
    <div class="offers_item">
        <div class="offer_img">
            <img src="assets/images/offer7.png" alt="img bg">
        </div>
        <div class="offer_body">
            <div class="offer_title">
                <img class="offer_avatar" src="assets/images/brox.png" alt="">
                Brox Equity Ltd
            </div>
            <div class="offer_text">
                High Performance Mortgage Investment Corporation High Performance Mortgage
            </div>
           
        </div> 
        <a class="offer_btn" href="">
            <div class="offer_btn-text">
                Learn More
            </div>
            <div class="offer_btn-img">
                <img class="offer_arrow" src="assets/images/short_up.svg" alt="img">
    
            </div>
    </a> 
        
        

    </div>
     <!-- offer_item-8 -->
     <div class="offers_item">
        <div class="offer_img">
            <img src="assets/images/offer8.png" alt="img bg">
        </div>
        <div class="offer_body">
            <div class="offer_title">
                <img class="offer_avatar" src="assets/images/brox.png" alt="">
                Brox Equity Ltd
            </div>
            <div class="offer_text">
                High Performance Mortgage Investment Corporation High Performance Mortgage
            </div>
           
        </div>  
        
        <a class="offer_btn" href="">
                <div class="offer_btn-text">
                    Learn More
                </div>
                <div class="offer_btn-img">
                    <img class="offer_arrow" src="assets/images/short_up.svg" alt="img">

                </div>
        </a>

    </div>
 
      
      
  
        </div>

        <div class="offers_bottom">
            Available to eligible investors.

        </div>
   
</section>


 

