<section class="section_statistic">
    <div class="container__inner">
        <div class="statistic">
            <div class="statistic_item">
                <h2 class="statistic_title">###</h2>
                <p class="statistic_text">
                    DSO Market capitalization</p>

            </div>
            <div class="statistic_item">
                <h2 class="statistic_title">180</h2>
                <p class="statistic_text">
                    Total DSO Offerings</p>

            </div>
            <div class="statistic_item">
                <h2 class="statistic_title">###</h2>
                <p class="statistic_text">
                    Altas One DSO Index</p>

            </div>
        </div>
    </div>

</section>