.section_ready {
  margin-bottom: 40px;
    display: flex;
}

.ready_title {
    padding-top: 80px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    text-transform: capitalize;
    color: #03283C;

}
.ready_subtitle {
    flex: 1 0 300px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
   

    text-align: center;
    letter-spacing: 0.3px;

   

    color: #010D14;

}

.ready_button  {
   
   display: block;
    padding: 15px 30px;
    gap: 10px;
    color: white;
    margin: 50px  auto 0;
    width: 450px;
    height: 52px;
    background: #03283C;
    @media(max-width:470px) {
        width: 250px;

    }

}