<header class="header">
  <!-- Navbar -->

    <div class="header-container">
          <nav class="nav">
                <div class="navbar">
                    <div class="logo"><a class="navbar_brand" href="index.html"><img src="/assets/images/Logo.png" alt="logo"></a></div>
                </div>

                <ul class="menu">
                    <li class="menu_item with_submenu">
                        <a class="menu_item-link trigger_link "  href="#">Products/Services <img src="assets/images/arrow.png" alt="arrow" class="submenu_arrow"></a>
                          <ul class="submenu">
                              <li class="submenu_item"><a href="#" class="submenu_link">About us 1</a> </li>
                              <li class="submenu_item"><a href="#" class="submenu_link">About us 2</a> </li>
                              <li class="submenu_item"><a href="#" class="submenu_link">About us 3</a> </li>
                            
                           </ul> 
                        
                    </li>
                    <li class="menu_item">
                      <a class="menu_item-link" href="#">About us</a> 
                   </li>
                   <li class="menu_item"> 
                      <a class="menu_item-link"  href="#">Blog/News</a> 
                   </li>

                </ul>
               

               


                <div class="nav_btns">
                  <a href="#" class="btn btn_outline nav_btn">Log in</a>
                  <a href="#" class="btn btn_primary nav_btn">Get started</a>
                </div>
              
                <div class="burger">
                    <span  class="bar"></span>
                    <span  class="bar"></span>
                    <span  class="bar"></span>
                </div>
            
          </nav>

    </div>
     


    
     

</header>